.parallax {

   height: 100vh ;
  overflow-x: hidden;
overflow-y: auto;
 position: relative;
    perspective: 1px;
}

* {

   margin: 0;
   padding: 0;
}


.parallax_layer {

   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   padding: 100vh 0;
}


.parallax_layer1 {

   transform: translateZ(0);
}
.parallax_layer2 {

   transform: translateZ(-1px)scale(2);
}

.parallax_layer3 {

   transform: translateZ(-2px) scale(3);
}

.title {
   font: 30px Verdana;
   text-align: center;
}



/* .rectangle {
    transition: width 3s ease-in-out, background-color 3s ease-in-out;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #dddddd;
    margin: 50px 50px;
}

.rectangle:hover {
background-color: red;
    width:300px ;
}

 */









