/*body, html {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*div {*/

/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: 50%;*/
/*    margin: 0 auto;*/
/*    background: radial-gradient(circle at 65% 15%, aqua, darkblue);*/
/*    box-shadow: 0 0 0;*/
/*}*/



/*html, body {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
.container {

    position: absolute;
    margin: 0 auto;
    top: 25%;
    left:40%
}

div {

    width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    transition: 1s;
    box-shadow: -2px -2px 9px 0px #b4b4b4;
    background: radial-gradient(circle at 65% 15%, aqua 15%, darkblue 25%, red 50%);
    background-size: 600% 600%;
    animation: Gradient 6.5s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}

@keyframes Gradient {
    0%{background-position:10% 50%; transform: scale(0.0); }
    30%{background-position:120% 50%; transform: scale(0.1); }
    66% { background-position:50% 50%; transform: scale(0.8);}
    85%{background-position:90% 50%; transform: scale(0.9); }
    100%{background-position:110% 50%; transform: scale(1.1);}
}


#center{
   top: 50px;
   position: absolute;
   animation: pulse 2s ease-in-out infinite alternate;
}
@keyframes pulse {
   0% {       background: radial-gradient(circle at 65% 15%, aqua, darkblue);
       }
  100% {       background: radial-gradient(circle at 25% 85%, aqua, darkblue);

     }
}
