.rectangle {
    transition: width 3s ease-in-out, background-color 3s ease-in-out;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #dddddd;
    margin: 50px 50px;
}

.rectangle:hover {
background-color: red;
    width:300px ;
}

 









